* {
    box-sizing: border-box;

}
.hero-full-screen {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url("../images/concert4.jpg") center center no-repeat;
    background-size: cover;
  }
  
  #title {
    font-family: 'Boogaloo', cursive;
    text-align: center;
    font-size: 75px;
    text-decoration: underline darkred;
    text-shadow: 2px 2px 7px grey;
  }
  .hero-full-screen .middle-content-section {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 7px black;
  }

  #artist-form {
    border-radius: 1rem;
    margin: 250px;
    padding: 20px;
    font-size: 30px;
    font-family: 'Boogaloo', cursive;
    background-image: linear-gradient(120deg, darkred 0%, black 100%);
    
  }
  
  #select-artist {
    font-family: 'Boogaloo', cursive;
    font-size: 20px;
    border-radius: 1rem;
  }

  .hero-full-screen .top-content-section {
    width: 100%;
  }
  
  .hero-full-screen .bottom-content-section {
    padding: 1rem;
  }
  
  .hero-full-screen .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: #fefefe;
  }
  
  .hero-full-screen .top-bar {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu-text {
    color: red;
  }
  
  .hero-full-screen .top-bar .menu li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hero-full-screen .top-bar .menu a {
    color: red;
    font-weight: bold;
  }
  
  @media screen and (min-width: 375px) {
    .hero-full-screen {
      max-width: 100%;
    }

    #artist-form {
      max-width: 100%;
    }

    #artist-div {
      max-width: 100%;
    }
  }